{% extends 'base.html' %}

{% block title %}
<title>Change Password</title>
{% endblock title %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-7 col-lg-5">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success d-flex align-items-center" role="alert" id="alertMessage">
                        <i class='bx bxs-check-circle text-success me-1'></i> {{ message }}
                    </div>
                {% endfor %}
                <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
                <script>
                    $(document).ready(function () {
                        setTimeout(function () {
                            $("#alertMessage").fadeOut("slow", function () {
                                $(this).remove();
                            });
                        }, 2000);
                    });
                </script>
            {% endif %}

            {% block nav_links %}
                    <span class="d-flex align-items-center mb-2">
                        <a href="{% url 'orders:list_of_orders' %}" class="text-decoration-none text-secondary ">
                            <i class='bx bx-home fs-5 text-secondary' ></i>
                        </a>

                        <i class='bx bx-chevron-right fs-5 text-secondary' ></i>
                        <span class="text-secondary">Change Password</span>
                    </span>
            {% endblock nav_links %}

            <div class="card shadow-sm p-4 mb-5 bg-white rounded">
                <h2 class="text-danger mt-1">Change Password</h2>
                <hr>
                <div class="card-body">
                    <div class="form-group">
                        <form method="POST">
                            {% csrf_token %}
                            <label class="mb-1">{{ form.old_password.label }}:</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class='bx bxs-lock fs-5 text-secondary' ></i>
                                </span>
                                {{ form.old_password }}
                            </div>

                            <label class="mb-1">{{ form.new_password1.label }}:</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class='bx bxs-lock fs-5 text-secondary' ></i>
                                </span>
                                {{ form.new_password1 }}
                            </div>

                            <label class="mb-1">{{ form.new_password2.label }}:</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class='bx bxs-lock fs-5 text-secondary' ></i>
                                </span>
                                {{ form.new_password2 }}
                            </div>
                              
                            <button class="btn btn-danger btn-block float-end mb-5">Change Password</button>
                            
                            <br>
                            <!-- <div class="bg-light p-3 mt-4">
                                <ul>
                                    <li><p class="text-secondary">Your password can&rsquo;t be too similar to your other personal information.</p></li>
                                    <li><p class="text-secondary">Your password must contain at least 8 characters.</p></li>
                                    <li><p class="text-secondary">Your password can&rsquo;t be a commonly used password.</p></li>
                                    <li><p class="text-secondary">Your password can&rsquo;t be entirely numeric.</p></li>
                                </ul>
                            </div> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
