# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Compiled Python files
__pycache__/
*.pyc
*.pyo/
*.pyd/

# Virtual environment
venv/

# IDE-specific files
.idea/

# Dependency directories
env/
lib/
libs/

# Local development settings
*.sqlite3
*.pyc
*.pyo
*.pyd
*.db

# Log files
*.log

# Temporary files
*.tmp
*.swp
*~

# Profiles
.Bot/Resources/Profiles/
