{% block title %}
<title>Delete User</title>
{% endblock title %}

{% block content %}
<!-- Modal To Delete User -->
<div class="modal" id="confirmDeleteModal{{ user.pk }}" tabindex="-1" aria-labelledby="myModalLabel2" aria-hidden="true">    
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Confirm Delete</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"></span>
            </button>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to delete the user <strong>"{{ user.username }}"</strong>?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <form action="{% url 'accounts:delete_user' user.pk %}" method="POST">
                {% csrf_token %}
                <input type="submit" class="btn btn-primary" value="Delete">
              </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
